.CarView {
  display: block;
  height: 100%;
}

.CarView__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.CarView__header {
  flex: none;
}

.CarView__body {
  flex: 1;
  display: block;
  padding: 24px;
}