.webNavigationItem {
  display: block;
}

.webNavigationItem__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% + 24px);
  padding: 12px 24px;
  transform: translateX(-24px);
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  background-color: transparent;
  color: var(--color-typo-secondary);
}

.webNavigationItem__label {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.webNavigationItem__button:disabled {
  background-color: var(--color-accent);
  color: #fff;
  cursor: default;
}

@media screen and (hover: hover) {
  .webNavigationItem__button:not(:disabled):hover {
    color: #fff;
  }
}