.dispatchUnit {
  --_container-height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--_container-height);
  padding: 8px 12px;
  background-color: var(--color-bar);
  border-radius: 4px;
  border-left: 4px solid hsl(228, 94%, 67%);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.dispatchUnit__number {
  flex: none;
  margin-right: 12px;
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: hsl(210, 9%, 44%);
}

.dispatchUnit__text {
  flex: 0 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dispatchUnit__name {
  text-align: right;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--color-typo-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dispatchUnit__role {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: var(--color-typo-secondary);
}