.webSidebar {
  display: block;
  width: 256px;
  height: 100%;
  background-color: var(--color-app-bar);
  border-right: 1px solid var(--color-app-border);
}

.webSidebar__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid var(--color-app-border);
}

.webSidebar__body {
  padding: 16px;
}

.webSidebar__logo {
  margin-right: 16px;
  flex: none;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  overflow: hidden;
}

.webSidebar__title {
  flex: 1;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: var(--color-primary-text);
}

.webSidebar__title--sm {
  font-size: 14px;
  line-height: 20px;
}

.webSidebar__title--md {
  font-size: 16px;
  line-height: 22px;
}

.webSidebar__title--lg {
  font-size: 20px;
  line-height: 24px;
}

.webSidebar__subtitle {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--color-secondary-text);
}