.webSidebar {
  display: block;
  width: 276px;
  height: 100%;
  background-color: var(--color-bar);
  border-right: 1px solid var(--color-bar-border);
}

.webSidebar__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.webSidebar__header {
  flex: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid var(--color-bar-border);
}

.webSidebar__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.webSidebar__logo {
  margin-right: 12px;
  flex: none;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  overflow: hidden;
}

.webSidebar__title {
  flex: 1;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: var(--color-typo-primary);
}

.webSidebar__title--sm {
  font-size: 14px;
  line-height: 20px;
}

.webSidebar__title--md {
  font-size: 16px;
  line-height: 22px;
}

.webSidebar__title--lg {
  font-size: 20px;
  line-height: 24px;
}

.webSidebar__section {
  margin-bottom: 48px;
}

.webSidebar__section:last-child {
  margin-top: auto;
  margin-bottom: 0;
}

.webSidebar__sectionTitle {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--color-typo-secondary);
}

.webSidebar__switch {
  margin-bottom: 20px;
  width: 100%;
}

.webSidebar__switch:last-child {
  margin-bottom: 0;
}