.webView {
  display: block;
}

.webView__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.webView__bar {
  flex: none;
}

.webView__content {
  flex: 1;
  display: block;
  padding: 24px;
}