.webDispatchDropZone {
  display: block;
}

.webDispatchDropZone__container {
  padding: 12px;
  border: 1px dashed var(--color-bar-border);
  border-radius: 4px;
}

.webDispatchDropZone__message {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-typo-secondary);
}