.dispatchView {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dispatchView__header {
  flex: none;
}

.dispatchView__list {
  flex: 1;
  display: grid;
  grid-template-rows: 100%;
  gap: 24px;
  padding: 24px;
  overflow-y: hidden;
}