.webDispatchGroup {
  display: block;
}

.webDispatchGroup__container {
  width: 100%;
  padding: 8px 12px 12px 12px;
  background-color: var(--color-bar);
  border-radius: 4px;
  border-left: 4px solid hsl(162, 73%, 46%);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.webDispatchGroup__name {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--color-typo-primary);
}

.webDispatchGroup__list {
  display: grid;
  grid-template-columns: 100%;
  gap: 12px;
  width: 100%;
  padding: 12px;
  background-color: var(--color-app);
  border-radius: 8px;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.webDispatchGroup__listEmptyItem {
  
}