.webDispatchGroup {
  display: block;
}

.webDispatchGroup__container {
  width: 100%;
  padding: 16px;
  background-color: var(--color-bar);
  border-radius: 6px;
  border-left: 6px solid hsl(162, 73%, 46%);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.webDispatchGroup__name {
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: var(--color-typo-primary);
}

.webDispatchGroup__placeholder {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  width: 100%;
  padding: 12px;
  background-color: var(--color-app);
  border-radius: 8px;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.webDispatchGroup__placeholderTip {
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: 1px dashed var(--color-bar-border);
  border-radius: 4px;
  color: var(--color-typo-secondary);
}