.webDispatchIconButton {
  display: block;
}

.webDispatchIconButton__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: var(--color-typo-secondary);
}

.webDispatchIconButton__icon {
  width: 18px;
  height: 18px;
}

@media screen and (hover: hover) {
  .webDispatchIconButton__container:hover {
    color: #fff;
  }
}