@import "./styles/global.css";
@import "./styles/trix.css";

@import "./components/web-app/web-app.style.css";
@import "./components/web-bar/web-bar.style.css";
@import "./components/web-sidebar/web-sidebar.style.css";
@import "./components/web-view/web-view.style.css";
@import "./components/web-navigation/web-navigation.style.css";
@import "./components/web-navigation-item/web-navigation-item.style.css";
@import "./components/web-switch/web-switch.style.css";
@import "./components/web-button/web-button.style.css";
@import "./components/web-toolbar/web-toolbar.style.css";

@import "./views/car/components/car-view/car-view.style.css";
@import "./views/document/components/document-view/document-view.style.css";
@import "./views/dispatch/components/dispatch-view/dispatch-view.style.css";
@import "./views/dispatch/components/dispatch-category/dispatch-category.style.css";
@import "./views/dispatch/components/dispatch-group/dispatch-group.style.css";
@import "./views/dispatch/components/dispatch-unit/dispatch-unit.style.css";
@import "./views/dispatch/components/dispatch-icon-button/dispatch-icon-button.style.css";

:root {
  --color-app: hsl(210, 17%, 95%);
  --color-app-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  --color-bar: hsl(0, 0%, 100%);
  --color-bar-border: hsl(210, 17%, 90%);

  --color-paper: hsl(0, 0%, 100%);

  --color-toggle-button-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  --color-toggle-button-track: hsl(0, 0%, 100%);
  --color-toggle-button-icon: hsl(210, 11%, 71%);
  --color-toggle-button-icon-hover: hsl(210, 10%, 23%);
  --color-toggle-button-icon-active: #f59f00;

  --color-typo-primary: hsl(210, 9%, 31%);
  --color-typo-secondary: hsl(210, 7%, 42%);
  --color-typo-positive: hsl(162, 68%, 54%);
  --color-typo-negative: hsl(339, 88%, 74%);

  --color-nav-active-item: hsl(210, 17%, 92%);

  --color-background: hsl(226, 71%, 40%);
  --color-app-bar: hsl(217, 33%, 17%);
  --color-app-border: hsl(215, 25%, 21%);
  --color-selected: hsl(215, 25%, 27%);
  --color-primary-text: hsl(214, 32%, 91%);
  --color-secondary-text: hsl(215, 20%, 65%);
  --color-accent: #364fc7;
}

:root[data-theme="dark"] {
  --color-app: hsl(216, 12%, 8%);

  --color-bar: hsl(210, 11%, 13%);
  --color-bar-border: hsl(210, 11%, 20%);

  --color-toggle-button-track: hsl(210, 10%, 23%);
  --color-toggle-button-icon: hsl(210, 11%, 71%);
  --color-toggle-button-icon-hover: hsl(0, 0%, 100%);
  --color-toggle-button-icon-active: #f59f00;

  --color-typo-primary: hsl(210, 14%, 80%);
  --color-typo-secondary: hsl(210, 7%, 64%);
  --color-typo-positive: hsl(162, 87%, 35%);
  --color-typo-negative: hsl(339, 65%, 60%);

  --color-nav-active-item: hsl(210, 9%, 20%);
}

.page {
  background-color: var(--color-background);
  font-family:
    "Plus Jakarta Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.page__icons {
  display: none;
}

.page__app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 24px;
}