@import "./styles/global.css";

@import "./components/web-app/web-app.style.css";
@import "./components/web-sidebar/web-sidebar.style.css";
@import "./components/web-navigation/web-navigation.style.css";
@import "./components/web-navigation-item/web-navigation-item.style.css";
@import "./components/web-view/web-view.style.css";
@import "./components/web-bar/web-bar.style.css";

:root {
  --color-background: hsl(226, 71%, 40%);
  --color-app: hsl(222, 47%, 11%);
  --color-app-bar: hsl(217, 33%, 17%);
  --color-app-border: hsl(215, 25%, 21%);
  --color-selected: hsl(215, 25%, 27%);
  --color-primary-text: hsl(214, 32%, 91%);
  --color-secondary-text: hsl(215, 20%, 65%);
}

.page {
  background-color: var(--color-background);
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page__icons {
  display: none;
}

.page__app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 24px;
}