.webApp {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--color-app);
  box-shadow: var(--color-app-shadow);
  overflow: hidden;
}

[data-screen="window"] .webApp {
  width: 1440px;
  height: 800px;
}

[data-screen="full"] .webApp {
  width: 100%;
  height: 100%;
}

.webApp__sidebar {
  flex: none;
  width: 276px;
}

.webApp__view {
  flex: 1;
  max-width: calc(100% - 276px);
}