.webApp {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 1440px;
  height: 800px;
  background-color: var(--color-app);
  border-radius: 8px;
  overflow: hidden;
}

.webApp__sidebar {
  flex: none;
}

.webApp__view {
  flex: 1;
}